@import "_include-media";

// Media Queries
// -----------------------------------------

$screen-xl: "only screen and (max-width: 1500px)";
$screen-lg: "only screen and (max-width: 1199px)";
$screen-md: "only screen and (max-width: 991px)";
$screen-sm: "only screen and (max-width: 767px)";
$screen-xs: "only screen and (max-width: 575px)";
$screen-landscape: "only screen and (orientation: landscape)";

$breakpoints: (
  xxl: 1900px,
  xl: 1500px,
  lg: 1199px,
  md: 991px,
  sm: 767px,
  xs: 575px,
  landscape: "landscape",
);
