@import './_fonts.scss';
@import './config';
:root {
    counter-reset: list;
}

body {
    background-color: #f3f3f3;
}

.content_container {
    width: 90%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    margin: 5rem auto 2rem auto;
    h2 {
        font-size: 1.5rem;
    }
    p {
        line-height: 1.5rem
    }
    @include media("<=xs"){
        margin: 2rem auto;
    }
}

.call_topic {
    h2 {
        font-size: 2.2rem;
        text-transform: uppercase;
        color: #0d61c0;
        @include media("<=xs"){
            font-size: 1.5rem;
        }
    }
    ul {
        list-style: none;
        li {
            display: flex;
            width: max-content;
            align-items: center;
            margin: 0.5rem 0;
            position: relative;
            counter-increment: list;
            &::before {
                position: absolute;
                content: "(" counter(list) ")";
                left: -2.5rem;
            }
            @include media("<=xs"){
                width: 100%;
                text-overflow: clip;
            }
        }
    }
}