<footer>
    <div class="footer_wrapper">
        <div class="about_us">
            <h2>about us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum!</p>
            <div class="social_links">
                <div class="link_wrapper"></div>
            </div>
        </div>
        <div class="recent_news">
            <h2>recent news</h2>
            <ul>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </div>
        <div class="getyourself_listed">
            <h2>get yourself listed !</h2>
            <button class="chk_btn">check out</button>
        </div>
    </div>
    <div class="copyright">
        <span>&copy; Copyright iciip, All Right Reserved</span>
        <div>
            <ul>
                <li><a href="/about">About us</a></li>
                <li><a href="/#location_container">Location</a></li>
                <li><a href="/call-for-paper">Call for Paper</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/#important-dates">Important Dates</a></li>
            </ul>
        </div>
    </div>
</footer>