<header class="header_container">
    <div class="main_header">
        <div class="logo_container">
            ICIIP
        </div>
        <ul class="link_container">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/call-for-paper">Call For+</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/venue">Venue</a></li>
        </ul>
    </div>
</header>