<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICIIP - About Us</title>
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/about.css">
</head>

<body>
    <div class="about_us_container">
        <!-- header -->
        <%- include("./Components/header.ejs") %>
            <!-- header -->
            <div class="page-title">
                <h1>About</h1>
                <h3>motivation for moving forward</h3>
            </div>

            <div class="about_uni">
                <h1>About igdtuw</h1>
                <p>
                    Indira Gandhi Delhi Technical University for Women (IGDTUW) has been upgraded from Indira Gandhi
                    Institute of Technology in May 2013 vide Delhi State Legislature Act 9, 2012, as a non-affiliating
                    teaching and research University at Delhi to facilitate
                    and promote studies, research, technology, innovation, incubation and extension work in emerging
                    areas of professional education among women, with focus on engineering, technology, applied
                    sciences, management and its allied areas
                    with the objective to achieve excellence in these and related fields. Erstwhile Indira Gandhi
                    Institute of Technology (IGIT) was established in 1998 by Directorate of Training and Technical
                    Education, Govt of N.C.T of Delhi as the
                    first engineering college for women only. From 2002- 2013, the college remained the first and only
                    constituent college of Guru Gobind Singh Indraprastha University. The upgradation of IGIT, already a
                    prestigious college of north India,
                    to University has enabled it to function even more efficiently as a teaching and research centre in
                    various branches of engineering, promoting advancement and dissemination of knowledge and learning
                    among women of the country and to
                    meet the requirement of technically skilled women workforce. The objective of the University is to
                    foster industry relevant research and innovations and empower the women of our country through value
                    based higher education making them
                    employable, self reliant, responsible citizen of the country with concern for environment and
                    society.
                </p>
            </div>

            <div class="about_universalinovators">
                <h1>About universal innovators</h1>
                <p>Every success story begins with a vision. The Universal Innovators (UI) is a private and autonomous
                    body promoting research based activities all over the world. The UI aims to do non-profit
                    collaborative research in the field of engineering,
                    applied sciences and management. We aim to be the leading independent academic and professional body
                    working in collaboration with academicians, faculties, students, researchers and educational
                    institutes. This leads us to be playing
                    a creative and critical role in the society by disseminating teaching and research on a global
                    scale, the cornerstones of which are good, long-term relationships, a focus on real life
                    applications necessary for the welfare of the mankind,
                    and an ability to combine quality and innovation. The mission of Universal Innovators is to
                    cultivate and carry out research in high- tech methodologies. We deal in conducting FDP’s,
                    workshops, seminars, and conferences. As a recognized
                    body, Universal Innovators (UI) seeks to facilitate the availability of academic excellence and
                    disseminate innovative knowledge worldwide.</p>
            </div>

            <div class="about_conf_container">
                <h1>About the Conference</h1>
                <p>The International Conference on Innovative Innovation and Ideas transforming into Patents
                    (ICIIITP-2021) is organised with the objective of bringing together innovative scientists,
                    professors, research scholars, students and industrial
                    experts in the field of Technology and Management to a common forum.</p>
            </div>

            <div class="about_ipr">
                <h1>About IPR</h1>
                <p>Intellectual Property Rights (IPRs) are legal rights that protect creations and/or inventions
                    resulting from intellectual activity in the industrial, scientific, literary or artistic fields. The
                    most common IPRs include patents, copyrights,
                    marks and trade secrets.</p>
            </div>

            <div class="about_patents">
                <h1>Patents</h1>
                <p>A Patent is a time limited protection that can be used to protect inventions (or discoveries) that
                    are new, non-obvious, and useful, such as a new process of working, machinery, article of
                    manufacture, or composition of matter. When a
                    property owner holds a patent, others are prevented, under law, from offering for sale, making, or
                    using the product.</p>
                <h2>types of patents</h2>
                <ul>
                    <li>
                        <h3>Utility Patent</h3>
                        <p>A utility patent is the most common type of patent that people seek. This type of patent
                            covers processes, compositions of matter, machines, and manufactures that are new and
                            useful.</p>
                    </li>
                    <li>
                        <h3>Design Patents</h3>
                        <p>Surface Ornamentation of an object, this can include shape or configuration of an object. In
                            order to obtain this type of patent protection, the design must be inseparable from the
                            object.</p>
                    </li>
                    <li>
                        <h3>Plant Patents</h3>
                        <p>A plant patent can be obtained to protect new and distinctive plants. A few requirements to
                            obtain this type of patent are that the plant is not a tuber propagated plant (i.e., an
                            Irish potato), the plant is not found in an uncultivated
                            state, and the plant can be asexually reproduced.</p>
                    </li>
                </ul>
            </div>
            <!-- Footer -->
            <%- include("./Components/footer.ejs") %>
                <script type="module" src="/assets/scripts/about.js"></script>
                <script type="module" src="/assets/scripts/commonjs.js"></script>
    </div>
</body>

</html>