<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/cfp.css">
</head>

<body>
    <div class="call_for_papers_container">
        <!-- header -->
        <%- include("./Components/header.ejs") %>
            <!-- header -->
            <div class="page-title">
                <h1>Call for Paper</h1>
                <h3>Get Your Paper/Patent Registered</h3>
            </div>
            <div class="content_container">

                <h2>CALL FOR INVENTIONS TRANFORMING INTO PAPTENTS</h2>
                <p>The scope of Call for Inventions transforming into Patents is to provide a platform where Inventors, Researchers, Engineers, Managers, Academicians as well as Industrial Professionals from across the globe can take up the advantage of
                    securing their novel/uncommon work through Intellectual Property Rights. These Legal Rights ensures that Inventors are protected from theft of their invention and prevents others from using their invention without permission.</p>

                <p>Following applications for Patent are accepted based that they are novel and self-invented:</p>

                <div class="call_topic">
                    <h2 class="topic_heading">ENGINEERING and TECHNOLOGY</h2>
                    <ul>
                        <li>Aeronautical Engineering</li>
                        <li>Acoustical Engineering</li>
                        <li>Agriculture Engineering</li>
                        <li>Applied Physics</li>
                        <li>Aquaculture Engineering</li>
                        <li>Automotive Engineering</li>
                        <li>Biomedical Engineering</li>
                        <li>Civil Engineering</li>
                        <li>Chemical Engineering</li>
                        <li>Computer Science </li>
                        <li>Cryptographic Engineering</li>
                        <li>Data Science (Algorithms)</li>
                        <li>Electrical Engineering</li>
                        <li>Engineering based Books</li>
                        <li>Engineering Management</li>
                        <li>Environmental Engineering</li>
                        <li>Geotechnical Engineering</li>
                        <li>Material Science and Engineering</li>
                        <li>Mechanical Engineering</li>
                        <li>Mechatronics Engineering</li>
                        <li>Mobile Application</li>
                        <li>Nano-engineering</li>
                        <li>Nuclear Engineering</li>
                        <li>Optical Engineering</li>
                        <li>Sports Engineering</li>
                        <li>Solar Engineering</li>
                        <li>Textile engineering</li>
                        <li>Wind Engineering</li>
                    </ul>
                </div>

                <div class="call_topic">
                    <h2 class="topic_heading">MANAGEMENT</h2>
                    <ul>
                        <li>Database Management System</li>
                        <li>Facilities Management</li>
                        <li>Financial & Accounting Management</li>
                        <li>Human Resource Management</li>
                        <li>Innovation Management</li>
                        <li>Knowledge Management</li>
                        <li>Marketing Management</li>
                        <li>Operations Management</li>
                        <li>Production Management</li>
                        <li>Public Relations Management/Communication</li>
                        <li>Quality Management System</li>
                        <li>R&D Management</li>
                        <li>Risk Management (not sure if it will be a part of it)</li>
                        <li>Sales Management</li>
                        <li>Service Management</li>
                        <li>Software Project Management </li>
                        <li>Strategy and Management (Strategic mgmt.)</li>
                        <li>Supply Chain Management</li>
                        <li>System Design Management</li>
                        <li>Technology Management</li>
                    </ul>
                </div>
            </div>
            <!-- Footer -->
            <%-include("./Components/footer.ejs") %>
                <script type="module" src="/assets/scripts/cfp.js"></script>
    </div>
</body>

</html>