<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICIIP</title>
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <div class="home_container">
        <!-- header -->
        <%- include("./Components/header.ejs") %>
            <!-- slider -->
            <div class="slider">
                <img class="sl_back" src="/assets/jpgs/slider-1-bg.jpg" alt="">
                <div class="content">
                    <div class="first_headline">International Conference on</div>
                    <div class="second_headline">Innovations and <br> Ideas towards Patents</div>
                    <hr class="horizontal" />
                    <div class="conf_info">
                        <div class="date">28 - 31 Aug 2021</div>
                        <div>/</div>
                        <div class="location">IGDTUW</div>
                        <div>/</div>
                        <div class="speakers">20 speakers</div>
                    </div>
                    <button class="reg_btn">register online</button>
                </div>
            </div>
            <!-- About -->
            <div class="ques_container">
                <div class="ques_content">
                    <div class="cnt_heading">who we are</div>
                    <p class="cnt_info">Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                    <a href="/" class="lnmore">Learn More</a>
                </div>
                <div class="ques_content">
                    <div class="cnt_heading">what we do</div>
                    <p class="cnt_info">Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                    <a href="/" class="lnmore">Learn More</a>
                </div>
                <div class="ques_content">
                    <div class="cnt_heading">why us?</div>
                    <p class="cnt_info">Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                    <a href="/" class="lnmore">Learn More</a>
                </div>
            </div>
            <!-- Countdown -->
            <div class="countdown_container">
                <div class="countdown_boxes_container">
                    <div class="countdown_box">
                        <span>3257</span>
                        <span class="cnt_cat">days</span>
                    </div>
                    <div class="countdown_box">
                        <span>24</span>
                        <span class="cnt_cat">hours</span>
                    </div>
                    <div class="countdown_box">
                        <span>47</span>
                        <span class="cnt_cat">mins</span>
                    </div>
                    <div class="countdown_box">
                        <span>50</span>
                        <span class="cnt_cat">secs</span>
                    </div>
                </div>
                <div class="subscribe_updates">
                    <h2>subscribe for updates</h2>
                    <div class="sub_email">
                        <input type="email" placeholder="Please Fill your email" />
                        <button class="sub_btn">subscribe</button>
                    </div>
                </div>
            </div>
            <!-- Speakers -->
            <div class="speakers_section">
                <div class="section_head">
                    <h1>Partners</h1>
                    <div class="slide_controller">
                        <div class="cnt-lft"><img src="/assets/svgs/chevron-back-outline.svg" alt=""></div>
                        <div class="cnt-rgt"><img src="/assets/svgs/chevron-forward-outline.svg" alt=""></div>
                    </div>
                </div>
                <div class="speaker_card_container">
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-1.jpg" alt="">
                        </div>
                        <div class="speaker_name">Jonathan Elves</div>
                        <div class="speaker_designation">Twitter's Co-Founder</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-2.jpg" alt="">
                        </div>
                        <div class="speaker_name">Matthew White</div>
                        <div class="speaker_designation">Facebook's Co-Founder</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-3.jpg" alt="">
                        </div>
                        <div class="speaker_name">Angelina Holy</div>
                        <div class="speaker_designation">Maxii's Manager</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-4.jpg" alt="">
                        </div>
                        <div class="speaker_name">Michael Dover</div>
                        <div class="speaker_designation">Starbuk's CEO</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-5.jpg" alt="">
                        </div>
                        <div class="speaker_name">Janet Jones</div>
                        <div class="speaker_designation">Newyork Post's GM</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-6.jpg" alt="">
                        </div>
                        <div class="speaker_name">Patrick Spencer</div>
                        <div class="speaker_designation">S&P Analyser</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-7.jpg" alt="">
                        </div>
                        <div class="speaker_name">John Super Doe</div>
                        <div class="speaker_designation">Yahoo's HR</div>
                    </div>
                    <div class="speaker_card">
                        <div class="speaker_image">
                            <div class="mask"><img src="/assets/svgs/logo-facebook.svg" alt=""><img src="/assets/svgs/logo-twitter.svg" alt=""><img src="/assets/svgs/logo-linkedin.svg" alt=""></div><img src="/assets/jpgs/speakers/speaker-8.jpg" alt="">
                        </div>
                        <div class="speaker_name">Laurence Francis</div>
                        <div class="speaker_designation">Google's UI Designer</div>
                    </div>
                </div>
            </div>
            <div class="important_dates_container">

            </div>
            <!-- Location -->
            <div class="location_container">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=igdtu&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
                        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                    </div>
                </div>
                <div class="location_div">
                    <h1>Location</h1>
                    <h2>Indira Gandhi Delhi Technical University for Women</h2>
                    <div class="address"><span><img src="/assets/svgs/navigate-outline.svg" alt=""></span><span>James Church, New Church Rd, Opp. St, Kashmere Gate, New Delhi, Delhi</span></div>
                    <div class="ckeck">Contact Us for more Info</div>
                    <hr class="horizontal-2" />
                    <div class="contact_info">
                        <div class="contact_no"><span><img src="/assets/svgs/call-outline.svg" alt=""></span><span>+91-8700506796</span></div>
                        <div class="email"><span><img src="/assets/svgs/mail-outline.svg" alt=""></span><span>contact@iciip.com</span></div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%-include("./Components/footer.ejs") %>
    </div>
    <script type="module" src="/assets/scripts/index.js"></script>
</body>

</html>